<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt">
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Post App</title>

            <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        </head>
        <body>
            <h1>E-Mail</h1>

            <p>Prezado <strong th:text="${nome_da_pessoa}">xpto</strong></p>

            <p>Segue o documento <strong th:text="${nome_do_documento}">3248034982380</strong> com os dados solicitados.</p>

            <p>Atenciosamente,</p>

            <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
        </body>
</html>