<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Post App</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    </head>
    <body>
        <section class="container">

            <form method="POST" action="#" th:action="@{/post}">
                <h2 class="form-label">Mensagem</h2>
                <textarea class="form-control" id="mensagem" name="mensagem" row="10" th:text="${post.mensagem}"></textarea>

                <h2>Tags</h2>
                <label class="form-label" for="tag[0]">Tag 1:</label>
                <input class="form-control" type="text" id="tag[0]" name="tags[0].nome">
                <label class="form-label" for="tag[1]">Tag 2:</label>
                <input class="form-control" type="text" id="tag[1]" name="tags[1].nome">
                <label class="form-label" for="tag[2]">Tag 3:</label>
                <input class="form-control" type="text" id="tag[2]" name="tags[2].nome">
                <label class="form-label" for="tag[3]">Tag 4:</label>
                <input class="form-control" type="text" id="tag[3]" name="tags[3].nome">
                <input class="btn btn-primary" type="submit" value="Enviar">
            </form>
            <!--    <pre th:text="${post.mensagem}">-->
            <!--        Atirei o pau no gato to to-->
            <!--        mas o gato to to-->
            <!--        não morreu reu reu-->
            <!--        dona chica ca ca-->
            <!--        indignou-se se se-->
            <!--    </pre>-->

            <!--    <p>Por <span th:text="${post.usuario.nome}"> João da Silva</span> em-->
            <!--        <span th:text="${#temporals.format(post.dataPostagem, 'dd/MM/yyyy HH:mm:ss')}">10/01/2005 10:04:01</span></p>-->

            <a class="btn btn-secondary" th:href="@{/post}">Voltar</a>
            
        </section>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>