<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    </head>
    <body>
        <section class="container">

            <h1 th:text="|Post #${post.id}|">Post #4</h1>
            <br>
            <pre th:text="${post.mensagem}">
                Atirei o pau no gato to to
                mas o gato to to
                não morreu reu reu
                dona chica ca ca
                indignou-se se se
            </pre>

            <p>Por <span th:text="${post.usuario.nome}"> João da Silva</span> em
                <span th:text="${#temporals.format(post.dataPostagem, 'dd/MM/yyyy HH:mm:ss')}">10/01/2005 10:04:01</span>
            </p>

        </section>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>