<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    </head>
    <body>
        <section class="container">
            <table class="table">
                
                <thead>
                <tr>
                    <th>Número</th>
                    <th>Conteúdo</th>
                    <th>Data da Postagem</th>
                    <th>
                        -
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each=" post: ${posts}">
                    <td th:text="|#${post.id}|">#1</td>
                    <td th:text="|#${post.mensagem}|">mensagem XPTO</td>
                    <td th:text="${#temporals.format(post.dataPostagem, 'dd/MM/yyyy HH:mm:ss')}">10/10/10234</td>
                    <td>
                        <a class="btn btn-primary"
                            th:href="@{/post/{id}(id=${post.id})}">
                            Visualizar
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
        </section>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>