<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Post App</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    </head>
    <body>
        <section class="container">
            
            <div class="alert alert-danger" role="alert" th:if="${msgError}">
                <p th:text="${msgError}"></p>
            </div>
            
            <div class="alert alert-success" role="alert" th:if="${msgSuccess}">
                <p th:text="${msgSuccess}"></p>
            </div>
            
            <table class="table">
                
                <thead>
                <tr>
                    <th>Número</th>
                    <th>Conteúdo</th>
                    <th>Data da Postagem</th>
                    <th>
                        -
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each=" post: ${posts.content}">
                    <td th:text="|#${post.id}|">#1</td>
                    <td th:text="|#${post.mensagem}|">mensagem XPTO</td>
                    <td th:text="${#temporals.format(post.dataPostagem, 'dd/MM/yyyy HH:mm:ss')}">10/10/10234</td>
                    <td>
                        <form th:method="delete" th:action="@{/post/{id}(id=${post.id})}" action="#">
                            <a class="btn btn-primary"
                                th:href="@{/post/{id}(id=${post.id})}">
                                Visualizar
                            </a>
                            <a class="btn btn-primary"
                                th:href="@{/post/{id}/edit(id=${post.id})}">
                                Editar
                            </a>
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>

                </tbody>
            </table>
            
            <nav>
                <ul class="pagination">
                    <!-- Previous Page Link -->
                    <li class="page-item" th:classappend="${!posts.hasPrevious()} ? 'disabled'">
                        <a class="page-link" th:href="@{/post(page=${posts.number - 1})}">Previous</a>
                    </li>

                    <!-- Page Number Links -->
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, posts.totalPages - 1)}"
                        th:classappend="${i == posts.number} ? 'active'">
                        <a class="page-link" th:href="@{/post(page=${i})}" th:text="${i + 1}">1</a>
                    </li>

                    <!-- Next Page Link -->
                    <li class="page-item" th:classappend="${!posts.hasNext()} ? 'disabled'">
                        <a class="page-link" th:href="@{/post(page=${posts.number + 1})}">Next</a>
                    </li>
                </ul>
            </nav>
            
            <a class="btn btn-secondary" role="button" th:href="@{/}">Voltar</a>
            <a class="btn btn-primary" role="button" th:href="@{/post/new}">Novo</a>
        </section>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>